Repository pawelpiwosz/COVIDlambda: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-cf.yml, azure-pipelines.yml

azure-pipelines-cf.yml:

trigger:
  branches:
    - master
  paths:
    include:
    - cloudformation/*
    exclude:
    - README.md
    - azure-pipelines.yml
    - models/
    - lambdafunction/*
    - tests/*


pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      mkdir reports
      pip install cfn-lint
      cfn-lint -I -f parseable cloudformation/covidlambda.yml > reports/cf.txt
  displayName: 'cfnlint'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: 'reports/'
    artifact: 'reports'
    publishLocation: 'pipeline'
  displayName: 'Publish reports'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'cloudformation'
    ArtifactName: 'covidlambda-cf'
    publishLocation: 'Container'

azure-pipelines.yml:

trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - cloudformation/*
    - azure-pipelines-cf.yml

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      mkdir reports
      pip install -r requirements.txt
      chmod +x virtualenv/scripts/*.sh
  displayName: 'Prepare env'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      pylint lambdafunction/covidlambda.py --exit-zero --reports=yes --output-format=msvs > reports/pylint.txt
  displayName: 'pylint'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      pwd
      export PYTHONPATH="$(pwd)"
      pytest tests -vv --junitxml=reports/test-results.xml --cov=. --cov-report=xml --cov-report=html
  displayName: 'pytest'
  continueOnError: true 

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/test-results.xml'
    testRunTitle: 'Pytest'
    failTaskOnFailedTests: false
  displayName: 'Publish test results'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'
    
- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'sonarcloud-covidlambda'
    organization: 'covidlambda'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'covidlambda'
    cliProjectName: 'COVIDlambda'
    cliSources: 'lambdafunction'
    extraProperties: |
      sonar.python.coverage.reportPaths=**/*.xml
      sonar.junit.reportPaths=**/*.xml

- task: SonarCloudAnalyze@1

- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      pip install cfn-lint
      cfn-lint -I -f parseable cloudformation/covidlambda.yml > reports/cf.txt
  displayName: 'cfnlint'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: 'reports/'
    artifact: 'reports'
    publishLocation: 'pipeline'
  displayName: 'Publish reports'

- task: Bash@3
  inputs:
    filePath: 'virtualenv/scripts/virtualenv.sh'
  displayName: 'Create Virtualenv'

- task: Bash@3
  inputs:
    filePath: 'virtualenv/scripts/pack.sh'
  displayName: 'Create artifact'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'artifacts'
    ArtifactName: 'covidlambda'
    publishLocation: 'Container'

Update azure-pipelines-cf.yml for Azure Pipelines
  azure-pipelines-cf.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines.yml

Updated covidlambda.yml
  cloudformation/covidlambda.yml
Due: azure-pipelines-cf.yml

Updated azure-pipelines-cf.yml
  azure-pipelines-cf.yml
Due: none

Updated azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

taskcat
  .taskcat.yml
  .taskcat_overrides.yml
  cloudformation/covidlambda.yml
Due: azure-pipelines-cf.yml, azure-pipelines.yml

cleaning
  azure-pipelines-cf.yml
Due: none
